# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# Usually contains the output of PyInstaller
# Example: myapp.spec
*.manifest
*.spec

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/

# pip environment files
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# Poetry
poetry.lock
.cache/

# PDM
__pypackages__/

# Pyre type checker
.pyre/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea/

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Jupyter Notebook
.ipynb_checkpoints/

# Local env files
.env
.env.*

# Logs
*.log

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject/


#virtual env

analyenv/